.app {
  width: 100vw;
  height: 100vh;
  display: grid;
  place-content: center;
  gap: 1rem;
  /* background: linear-gradient(-45deg, #ee7752, #e73c7e, #23a6d5, #23d5ab);
  background-size: 400% 400%;
	animation: gradient 15s ease infinite; */
}
.content {
  width: 1440px;
  height: 768px;
  display: flex;
  gap: 1rem;
}
.app>p {
  color: red;
}

@keyframes gradient {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}