.location {
  width: fit-content;
  font-size: 1.2rem;
  letter-spacing: 1px;
  display: flex;
  gap: 0.5rem;
  align-items: center;
  justify-content: center;
  color: var(--text-color);
}
.location > p {
  color: var(--text-color);
}
@media screen and (max-width: 768px) {
  .location {
    width: 100%;
    display: flex;
    justify-content: center;
  }
}
