.location {
  width: fit-content;
  font-size: 1.2rem;
  letter-spacing: 1px;
  display: flex;
  gap: 0.5rem;
  align-items: center;
  justify-content: center;
  color: var(--primary-orange);
}
.location>p {
  color: var(--primary-orange);
}
@media screen and (max-width: 768px) {
  .location {
    display: block;
    /* width: 100%; */
  }
}