.searchbar {
  display: flex;
  align-items: center;
  border: 1px solid var(--primary-blue);
  border-radius: 1rem;
  color: var(--primary-blue);
  overflow: hidden;
}
.searchbar>input {
  font-size: 0.8rem;
  flex: 1;
  background: none;
  font-family: "Kanit", sans-serif;
  margin-left: 0.5rem;
  border: none;
}
.searchbar>input:focus {
  outline-width: 0;
}
.icon {
  background: #00b3ff31;
  height: 100%;
  padding: 0.25rem 0.5rem;
  display: flex;
  align-items: center;
}
.left_icon {
  composes: icon;
  border-right: 1px solid var(--primary-blue);
}
.right_icon {
  composes: icon;
  border-left: 1px solid var(--primary-blue);
}