.item {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0.5rem;
}
.item>h5:first-child {
  font-size: 0.8rem;
}

@media screen and (max-width: 768px) {
  .item {
    gap: 0rem;
  }
  .item>img {
    height: 48px;
  }
}