.card {
  flex: 1;
  display: flex;
  flex-direction: column;
  cursor: pointer;
  transition: transform 0.3s ease-in-out;
  border-radius: 0.5rem;
}
.upper {
  flex: 3;
  border-top-left-radius: 0.5rem;
  border-top-right-radius: 0.5rem;
}
.lower {
  flex: 1;
  border-bottom-left-radius: 0.5rem;
  border-bottom-right-radius: 0.5rem;
}