.card {
  padding: 1rem 0rem;
  display: flex;
  justify-content: space-around;
  background: #ff990044;
  border-bottom-left-radius: 1rem;
  border-bottom-right-radius: 1rem;

}
.section {
  display: flex;
  align-items: center;
  gap: 1rem;
}
.icon>svg {
  height: 24px;
  color: #ff9900;;
}