.header {
  text-align: center;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}
.header>h3 {
  text-transform: capitalize;
  font-size: 2.4rem;
  letter-spacing: 1px;
  transform: translateX(-10%);
  font-weight: 600;
}
.header>h5 {
  font-weight: 400;
  transform: translateX(5%);

}